* {
    box-sizing: border-box;
    background-color:#1d1e22 ;
}


header {
    text-transform: uppercase;
    align-items: center; 
    padding: 15px 32px;
    color: #fff;
    border-bottom: 4px solid #c5c6d0; 
  }

  .header h1 {
    margin-bottom: 10px; 

  }

  .header nav {
    display: flex;
    justify-content: space-evenly; 
    width: 100%;

  }


body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #a0d2eb;
    background-color:#a0d2eb ;
}

nav section {
  margin-bottom: 10px;
}


h1, h2{
    text-align: center;
}

footer {
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;

}

.address {
    margin-bottom: 5px;
}

a {
    color:#d4d4dc;
  }
  
  a:visited {
    color: #393f4d;
  }
  
  a:hover {
    color: #feda6a;
  }
  
  a:active {
    color: rgb(47, 12, 223);
  }