<header class="site-header">
    <div class="header-inner">
      <div class="logo-title">
        <img src="images/company_logo.jpeg" alt="Logo" class="logo">
        <div>
          <h1 class="brand-title">Piedmont Family Dentistry</h1>
          <h2 class="tagline">by Isaac K</h2>
        </div>
      </div>
  
      <nav>
        <ul class="nav-links">
          <li>🦷</li>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
           <li><a href="contact_us.html">Contact</a></li>
          <li><a href="location.html">Locations</a></li>
          <li><a href="patients.html">Patients</a></li>
          <li><a href="treatments.html">Treatments</a></li>
          <li><a href="services_request.html">Book Appointment</a></li>
          <li><a href="patients.html" id="login-link">Patient Portal</a></li>
          <li>🦷</li>
        </ul>
      </nav>
  
    </div>
  </header>