<h2>My Links</h2>
    <nav>
        <a href="https://webpages.charlotte.edu/iking10" target="_blank">Charlotte Webpages</a>
        <a href="https://github.com/Aiking1" target="_blank">GitHub</a> 
        <a href="https://aiking1.github.io/" target="_blank">GitHub.io</a> 
        <a href="https://www.freecodecamp.org/aiking" target="_blank">freeCodeCamp</a> 
        <a href="https://www.codecademy.com/profiles/aiCommander" target="_blank">Codecademy</a> 
        <a href="https://www.linkedin.com/in/iak2/" target="_blank">LinkedIn</a> 
        <!-- You can check out <a href="https://webpages.charlotte.edu/iking10/itis3135/invisibleKobra/index.html" target="_blank">Kobra Kaps</a> here!
          Dependable, secure, connectivity... <a href="https://webpages.charlotte.edu/iking10/rubonded.com/" target="_blank">R u Bonded</a>?
            -->  
    </nav>

    <p>Page Built by <a href="rubonded.com/">Bonded Inc. | "Securing bonds &amp; creating opportunities"</a>&copy; 2025</p>


    

  <!-- 
     <div data-include="/itis3135/components/header.html"></div>
<div data-include="/itis3135/components/footer.html"></div>
<script src="scripts/include.js"></script> 

--> 